# PUBLIC ENV VARIABLES (SAFE)
NEXT_PUBLIC_APP_NAME=ArenaX
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://bbxvpirknqzvjhezrqpo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJieHZwaXJrbnF6dmpoZXpycXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0NzI2OTQsImV4cCI6MjA4MzA0ODY5NH0.cNE18rnpeQ6oqzjFI5eRQwf4scQnLzyI5a0YkDWDV5E

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51St4Cw4SH226LUXzcsvKz3CTCFiOMZ2nNRdJ4lWJJLYWJ5a7y7pAjrUXvGQALM4nbrIuIyHca8xmfUe5N176J6X600hXD5Q1GB

NEXT_PUBLIC_STRIPE_PRICE_STARTER=price_1T3Ok04SH226LUXzLaRHjD5Gx
NEXT_PUBLIC_STRIPE_PRICE_PRO=price_1T3Olc4SH226LUXzzFmnpxK2
NEXT_PUBLIC_STRIPE_PRICE_ELITE=price_1T3Omj4SH226LUXzNbvk0PXg

# SERVER VARIABLES (DO NOT PUT REAL VALUES)
SUPABASE_SERVICE_ROLE_KEY=REPLACE_ME
STRIPE_SECRET_KEY=REPLACE_ME
STRIPE_WEBHOOK_SECRET=REPLACE_ME